// General

* {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
body {
  background-color: #ffffff;
  color: #333333;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: fill-available;
}
html {
  min-height: fill-available;
}

a {
  outline: 0 !important;
  color: #5b9bbc;

  &:hover {
    text-decoration: none;
  }
  img {
    border: 0;
  }
}
